<section id=fondoReporte>
  <div class="grid-containerReporte">
    <div class="reporte"><img src="./img/acercaDelReporte/INFO_COMPLETA.svg" alt=""></div>
    <div class="menuBack"></div>
    <div class="menu">
      <div class="logo"><img src="./img/botonesMenu/LOGO.svg" alt=""></div>
      <div class="delReporte"><a href="#acercaDelReporte"><img src="./img/botonesMenu/BOTON_ACERCA_DEL_REPORTE_2.svg" alt=""></a></div>
      <div class="intVocacional"><a href="#interesVocacional"><img src="./img/botonesMenu/BOTON_INTERES_VOCACIONAL.svg" alt=""></a></div>
      <div class="prePersonalidad"><a href="#predominanciaDePersonalidad"><img src="./img/botonesMenu/BOTON_PREDOMINANCIA_DE_PERSONALIDAD.svg" alt=""></a></div>
      <div class="intCarrera"><a href="#intencionDeCarrera"><img src="./img/botonesMenu/BOTON_INTENCION_DE_LA_CARRERA.svg" alt=""></a></div>
      <div class="infProfesional"><a href="#informacionProfesional"><img src="./img/botonesMenu/BOTON_INFORMACION_PROFESIONAL.svg" alt=""></a></div>
      <div class="delResultado"><a href="#acercaDeLosResultados"><img src="./img/botonesMenu/BOTON_ACERCA_DE_RESULTADOS.svg" alt=""></a></div>
    </div>
    <div class="navBar">
      <div class="dropdown">
          <input type="checkbox" id="btn-menu" name="btn-menu"/>
          <label class="icon" for="btn-menu">
            <img width="30px" height="30px" src="./img/botonesMenu/MENU_ICON.svg" alt="" onclick='btnNav()'/>
          </label>  
      </div>
    </div>
    <div class="pieDePagina">
      <div class="imgPie"></div>
      <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
      <div class="logoCUN">
        <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
          <img src="./img/pieDePagina/LOGO-CUN.png">
        </a>
      </div>
      <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
    </div>
  </div>
</section>

<div class="imageLoader" style="display: none;">  
  <div class="atento"><img src="./img/intencionCarrera/INFO_ATENTO.png" alt="" ></div>
  <div class="dinamico"><img src="./img/intencionCarrera/INFO_DINAMICO.png" alt=""></div>
  <div class="metodico"><img src="./img/intencionCarrera/INFO_METODICO.png" alt=""></div>
  <div class="imaginativo"><img src="./img/intencionCarrera/INFO_IMAGINATIVO.png" alt=""></div>
  <div class="adaptable"><img src="./img/intencionCarrera/INFO_ADAPTABLE.png" alt=""></div>
  <div class="practico"><img src="./img/intencionCarrera/INFO_PRACTICO.png" alt=""></div>
  <div class="atento"><img src="./img/interesVocacional/INFO_ATENTO.svg" alt="" ></div>
  <div class="dinamico"><img src="./img/interesVocacional/INFO_DINAMICO.svg" alt=""></div>
  <div class="metodico"><img src="./img/interesVocacional/INFO_METODICO.svg" alt=""></div>
  <div class="imaginativo"><img src="./img/interesVocacional/INFO_IMAGINATIVO.svg" alt=""></div>
  <div class="adaptable"><img src="./img/interesVocacional/INFO_ADAPTABLE.svg" alt=""></div>
  <div class="practico"><img src="./img/interesVocacional/INFO_PRACTICO.svg" alt=""></div>
  <div class="atento"><img src="./img/predominanciaDePersonalidad/INFO_ATENTO.svg" alt="" ></div>
  <div class="dinamico"><img src="./img/predominanciaDePersonalidad/INFO_DINAMICO.svg" alt=""></div>
  <div class="metodico"><img src="./img/predominanciaDePersonalidad/INFO_METODICO.svg" alt=""></div>
  <div class="imaginativo"><img src="./img/predominanciaDePersonalidad/INFO_IMAGINATIVO.svg" alt=""></div>
  <div class="adaptable"><img src="./img/predominanciaDePersonalidad/INFO_ADAPTABLE.svg" alt=""></div>
  <div class="practico"><img src="./img/predominanciaDePersonalidad/INFO_PRACTICO.svg" alt=""></div>
</div>