<section id=fondoInformacion>
    <div class="grid-containerInformacion">
        <div class="informacion">
            <div class="texto1"><img src="./img/informacionProfesional/TEXTO_1.svg" alt=""></div>
            <div class="texto2"><img src="./img/informacionProfesional/TEXTO_2.svg" alt=""></div>
            <div class="datos">
                <div class="grado"><img src="./img/informacionProfesional/CIRCULO.svg" alt=""><div id="InfoP_texto" class="grado1">7.0</div></div>
            </div>
            <div class="texto3"><img id="InfoP_img" src="./img/informacionProfesional/TEXTO_3.svg" alt=""></div>
        </div>
        <div class="menuBack"></div>
        <div class="menu">
          <div class="logo"><img src="./img/botonesMenu/LOGO.svg" alt=""></div>
          <div class="delReporte"><a href="#acercaDelReporte"><img src="./img/botonesMenu/BOTON_ACERCA_DEL_REPORTE.svg" alt=""></a></div>
          <div class="intVocacional"><a href="#interesVocacional"><img src="./img/botonesMenu/BOTON_INTERES_VOCACIONAL.svg" alt=""></a></div>
          <div class="prePersonalidad"><a href="#predominanciaDePersonalidad"><img src="./img/botonesMenu/BOTON_PREDOMINANCIA_DE_PERSONALIDAD.svg" alt=""></a></div>
          <div class="intCarrera"><a href="#intencionDeCarrera"><img src="./img/botonesMenu/BOTON_INTENCION_DE_LA_CARRERA.svg" alt=""></a></div>
          <div class="infProfesional"><a href="#informacionProfesional"><img src="./img/botonesMenu/BOTON_INFORMACION_PROFESIONAL_2.svg" alt=""></a></div>
          <div class="delResultado"><a href="#acercaDeLosResultados"><img src="./img/botonesMenu/BOTON_ACERCA_DE_RESULTADOS.svg" alt=""></a></div>
        </div>
        <div class="navBar">
            <div class="dropdown">
                <input type="checkbox" id="btn-menu" name="btn-menu"/>
                <label class="icon" for="btn-menu">
                  <img width="30px" height="30px" src="./img/botonesMenu/MENU_ICON.svg" alt="" onclick='btnNav()'/>
                </label>  
            </div>
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>