<section id=fondoIntCarrera>
    <div class="grid-containerCarrera">
        <div class="carrera">
            <div class="botones">  
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_ATENTO","Ate")' ></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_DINAMICO","Dim")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_METODICO","Met")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_IMAGINATIVO","Ima")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_ADAPTABLE","Ada")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_PRACTICO","Pra")'></div>
                <div class="popUpCar">
                    <div class="x" onclick="closePopUp()"></div>
                    <div id="msg" class="msg"></div>
                </div> 
            </div>
            <div class="porcentajesCar">
                <div class="infoAtento"><img src="./img/intencionCarrera/ATENTO.svg" alt=""><div id="txtAtentoCar">7.0%</div></div>
                <div class="infoDinamico"><img src="./img/intencionCarrera/DINAMICO.svg" alt=""><div id="txtDinamicoCar">7.0%</div></div>
                <div class="infoMetodico"><img src="./img/intencionCarrera/METODICO.svg" alt=""><div id="txtMetodicoCar">7.0%</div></div>
                <div class="infoImaginativo"><img src="./img/intencionCarrera/IMAGINATIVO.svg" alt=""><div id="txtImaginativoCar">7.0%</div></div>
                <div class="infoAdaptable"><img src="./img/intencionCarrera/ADAPTABLE.svg" alt=""><div id="txtAdaptableCar">7.0%</div></div>
                <div class="infoPractico"><img src="./img/intencionCarrera/PRACTICO.svg" alt=""><div id="txtPracticoCar">7.0%</div></div>
                <div class="mensajePers"><p id="intencionPers"></p></div>
                <div class="mensaje">Haz clic en alguna de las opciones para saber más.</div>
            </div>
            <div class="medallasCar">
                <div class="intencion"><img src="./img/intencionCarrera/INTRO.svg" alt=""></div>
                <div class="medalla1"><img id="med1Car" src="./img/medallas/IMAGINATIVO.svg" alt=""><div id="punt1Car" class="puntaje1">7.8%</div></div>
                <div class="medalla2"><img id="med2Car" src="./img/medallas/PRACTICO.svg" alt=""><div id="punt2Car" class="puntaje2">7.0%</div></div>
                <div class="personajeCar"><img id="personajeCar" src="./img/personajes/intencionCarrera/MEDIO/DINAMICO_Hombre.svg" alt=""></div>
                <div class="nombre">Usuario</div>
            </div>
        </div>
        <div class="menuBack"></div>
        <div class="menu">
            <div class="logo"><img src="./img/botonesMenu/LOGO.svg" alt=""></div>
            <div class="delReporte"><a href="#acercaDelReporte"><img src="./img/botonesMenu/BOTON_ACERCA_DEL_REPORTE.svg" alt=""></a></div>
            <div class="intVocacional"><a href="#interesVocacional"><img src="./img/botonesMenu/BOTON_INTERES_VOCACIONAL.svg" alt=""></a></div>
            <div class="prePersonalidad"><a href="#predominanciaDePersonalidad"><img src="./img/botonesMenu/BOTON_PREDOMINANCIA_DE_PERSONALIDAD.svg" alt=""></a></div>
            <div class="intCarrera"><a href="#intencionDeCarrera"><img src="./img/botonesMenu/BOTON_INTENCION_DE_LA_CARRERA_2.svg" alt=""></a></div>
            <div class="infProfesional"><a href="#informacionProfesional"><img src="./img/botonesMenu/BOTON_INFORMACION_PROFESIONAL.svg" alt=""></a></div>
            <div class="delResultado"><a href="#acercaDeLosResultados"><img src="./img/botonesMenu/BOTON_ACERCA_DE_RESULTADOS.svg" alt=""></a></div>
        </div>
        <div class="navBar">
            <div class="dropdown">
                <input type="checkbox" id="btn-menu" name="btn-menu"/>
                <label class="icon" for="btn-menu">
                  <img width="30px" height="30px" src="./img/botonesMenu/MENU_ICON.svg" alt="" onclick='btnNav()'/>
                </label>  
            </div>
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>