<section id=fondoIntVocacional>
    <div class="grid-containerVocacional">
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN"><img src="./img/pieDePagina/LOGO-CUN.png"></div>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
        <div class="vocacional">
            <div class="botones">  
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt="" onclick='showPopUp("interesVocacional/INFO_ATENTO")' ></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt="" onclick='showPopUp("interesVocacional/INFO_DINAMICO")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt="" onclick='showPopUp("interesVocacional/INFO_METODICO")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt="" onclick='showPopUp("interesVocacional/INFO_IMAGINATIVO")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt="" onclick='showPopUp("interesVocacional/INFO_ADAPTABLE")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt="" onclick='showPopUp("interesVocacional/INFO_PRACTICO")'></div>
                <div class="popUp"><img id="popUp" src="./img/interesVocacional/INFO_ADAPTABLE.svg" alt="">
                    <div class="x" onclick="closePopUp()"></div>
                </div> 
            </div>
            <div class="porcentajesVoc">
                <div class="background"></div>
                <div class="practicoVoc"><img src="./img/intencionCarrera/PRACTICO.svg" alt=""><div id="txtPracticoVoc">7.0</div></div>
                <div class="dinamicoVoc"><img src="./img/intencionCarrera/DINAMICO.svg" alt=""><div id="txtDinamicoVoc">7.0</div></div>
                <div class="atentoVoc"><img src="./img/intencionCarrera/ATENTO.svg" alt=""><div id="txtAtentoVoc">7.0</div></div>
                <div class="adaptableVoc"><img src="./img/intencionCarrera/METODICO.svg" alt=""><div id="txtMetodicoVoc">7.0</div></div> 
                <div class="metodicoVoc"><img src="./img/intencionCarrera/IMAGINATIVO.svg" alt=""><div id="txtImaginativoVoc">7.0</div></div>
                <div class="imaginativoVoc"><img src="./img/intencionCarrera/ADAPTABLE.svg" alt=""><div id="txtAdaptableVoc">7.0</div></div>
                <div class="mensajePersVoc"><p id="vocacionalPers"></p></div>
                <div class="mensajeVoc">Haz clic en alguna de las opciones para saber más.</div>
            </div>
            <div class="medallasVoc">
                <div class="interes"><img src="./img/interesVocacional/INTRO.svg" alt=""></div>
                <div class="medalla1"><img id="med1Voc" src="./img/medallas/ADAPTABLE.svg" alt=""><div id="punt1Voc" class="puntaje1">7.8</div></div>
                <div class="medalla2"><img id="med2Voc" src="./img/medallas/ATENTO.svg" alt=""><div id="punt2Voc" class="puntaje2">7.0</div></div>
                <div class="personajeVoc"><img id="personajeVoc" src="./img/personajes/interesVocacional/MEDIO/METODICO_HOMBRE.svg" alt=""></div>
                <div class="nombre">Usuario</div>
            </div>
        </div>
        <div class="menuBack"></div>
        <div class="menu">
            <div class="logo"><img src="./img/botonesMenu/LOGO.svg" alt=""></div>
            <div class="delReporte"><a href="#acercaDelReporte"><img src="./img/botonesMenu/BOTON_ACERCA_DEL_REPORTE.svg" alt=""></a></div>
            <div class="intVocacional"><a href="#interesVocacional"><img src="./img/botonesMenu/BOTON_INTERES_VOCACIONAL_2.svg" alt=""></a></div>
            <div class="prePersonalidad"><a href="#predominanciaDePersonalidad"><img src="./img/botonesMenu/BOTON_PREDOMINANCIA_DE_PERSONALIDAD.svg" alt=""></a></div>
            <div class="intCarrera"><a href="#intencionDeCarrera"><img src="./img/botonesMenu/BOTON_INTENCION_DE_LA_CARRERA.svg" alt=""></a></div>
            <div class="infProfesional"><a href="#informacionProfesional"><img src="./img/botonesMenu/BOTON_INFORMACION_PROFESIONAL.svg" alt=""></a></div>
            <div class="delResultado"><a href="#acercaDeLosResultados"><img src="./img/botonesMenu/BOTON_ACERCA_DE_RESULTADOS.svg" alt=""></a></div>
        </div>
        <div class="navBar">
            <div class="dropdown">
                <input type="checkbox" id="btn-menu" name="btn-menu"/>
                <label class="icon" for="btn-menu">
                  <img width="30px" height="30px" src="./img/botonesMenu/MENU_ICON.svg" alt="" onclick='btnNav()'/>
                </label>  
            </div>
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>