<section id=fondoPersonalidad>
    <div class="grid-containerPersonalidad">
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN"><img src="./img/pieDePagina/LOGO-CUN.png"></div>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
        <div class="personalidad">
            <div class="botones">  
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_ATENTO")' ></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_DINAMICO")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_METODICO")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_IMAGINATIVO")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_ADAPTABLE")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_PRACTICO")'></div>
                <div class="popUp"><img id="popUp" src="./img/predominanciaDePersonalidad/INFO_ADAPTABLE.svg" alt="">
                    <div class="x" onclick="closePopUp()"></div>
                </div> 
            </div>
            <div class="medallasPre">
                <div class="predominancia"><img src="./img/predominanciaDePersonalidad/INTRO.svg" alt=""></div>
                <div class="medalla1Pre"><img id="med1Pre" src="./img/medallas/ADAPTABLE.svg" alt=""><div id="punt1Per" class="puntaje1">7.8</div></div>
                <div class="medalla2Pre"><img id="med2Pre" src="./img/medallas/ATENTO.svg" alt=""><div id="punt2Per" class="puntaje2">7.0</div></div>
                <div class="medalla3Pre"><img id="med3Pre" src="./img/medallas/PRACTICO.svg" alt=""><div id="punt3Per" class="puntaje3">7.0</div></div>
                <div class="personajePre"><img id="personajePre" src="./img/personajes/predominanciaPersonalidad/MEDIO/METODICO_Hombre.svg" alt=""></div>
                <div class="nombre">Usuario</div>
                <div class="base1">
                    <div class="titulos"><p class="titulo1"><- Adaptable - Imaginativo -></p></div>
                    <div class="porc1"><img id="porc1" src="./img/predominanciaDePersonalidad/CIRCULO_ADA.svg" alt=""><div class="res1">0</div></div>
                </div>
                <div class="base2">
                    <div class="titulos"><p class="titulo1"><- Práctico - Atento -></p></div>
                    <div class="porc2"><img id="porc2" src="./img/predominanciaDePersonalidad/CIRCULO_ATE.svg" alt=""><div class="res2">0</div></div>
                </div>
                <div class="base3">
                    <div class="titulos"><p class="titulo1"><- Dinámico - Metódico -></p></div>
                    <div class="porc3"><img id="porc3" src="./img/predominanciaDePersonalidad/CIRCULO_DIN.svg" alt=""><div class="res3">0</div></div>
                </div>
                <div class="mensajePersPre"><p id="predominanciaPers"></p></div>
                <div class="mensaje">Haz clic en alguna de las opciones para saber más.</div>
            </div>
        </div>
        <div class="menuBack"></div>
        <div class="menu">
            <div class="logo"><img src="./img/botonesMenu/LOGO.svg" alt=""></div>
            <div class="delReporte"><a href="#acercaDelReporte"><img src="./img/botonesMenu/BOTON_ACERCA_DEL_REPORTE.svg" alt=""></a></div>
            <div class="intVocacional"><a href="#interesVocacional"><img src="./img/botonesMenu/BOTON_INTERES_VOCACIONAL.svg" alt=""></a></div>
            <div class="prePersonalidad"><a href="#predominanciaDePersonalidad"><img src="./img/botonesMenu/BOTON_PREDOMINANCIA_DE_PERSONALIDAD_2.svg" alt=""></a></div>
            <div class="intCarrera"><a href="#intencionDeCarrera"><img src="./img/botonesMenu/BOTON_INTENCION_DE_LA_CARRERA.svg" alt=""></a></div>
            <div class="infProfesional"><a href="#informacionProfesional"><img src="./img/botonesMenu/BOTON_INFORMACION_PROFESIONAL.svg" alt=""></a></div>
            <div class="delResultado"><a href="#acercaDeLosResultados"><img src="./img/botonesMenu/BOTON_ACERCA_DE_RESULTADOS.svg" alt=""></a></div>
        </div>
        <div class="navBar">
            <div class="dropdown">
                <input type="checkbox" id="btn-menu" name="btn-menu"/>
                <label class="icon" for="btn-menu">
                  <img width="30px" height="30px" src="./img/botonesMenu/MENU_ICON.svg" alt="" onclick='btnNav()'/>
                </label>  
            </div>
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>