<div id="cover-loader">
    <div class="load-container">
        <div class="loader"></div>
    </div>
</div>
<section id=fondoReporte>
    <div class="grid-containerReporte">
        <div id="reporte" class="reporte"><img src="./img/acercaDelReporte/INFO_COMPLETA.svg" alt=""></div>
        <div id="pieDePagina" class="pieDePagina">
            <div class="imgPie" style='background-image: url("./img/pieDePagina/PIE-2.png"); background-size: 100% 120%;'></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>
<section id=fondoIntVocacional>
    <div class="grid-containerVocacional">
        <div id="vocacional" class="vocacional">
            <div class="botones">
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_ATENTO")'></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_DINAMICO")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_METODICO")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_IMAGINATIVO")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_ADAPTABLE")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt=""
                        onclick='showPopUp("interesVocacional/INFO_PRACTICO")'></div>
                <div class="popUp"><img id="popUp" src="./img/interesVocacional/INFO_ADAPTABLE.svg" alt="">
                    <div class="x" onclick="closePopUp()"></div>
                </div>
            </div>
            <div class="porcentajesVoc">
                <div class="background"></div>
                <div class="practicoVoc"><img src="./img/intencionCarrera/PRACTICO.svg" alt="">
                    <div id="txtPracticoVoc">7.0</div>
                </div>
                <div class="dinamicoVoc"><img src="./img/intencionCarrera/DINAMICO.svg" alt="">
                    <div id="txtDinamicoVoc">7.0</div>
                </div>
                <div class="atentoVoc"><img src="./img/intencionCarrera/ATENTO.svg" alt="">
                    <div id="txtAtentoVoc">7.0</div>
                </div>
                <div class="adaptableVoc"><img src="./img/intencionCarrera/METODICO.svg" alt="">
                    <div id="txtMetodicoVoc">7.0</div>
                </div>
                <div class="metodicoVoc"><img src="./img/intencionCarrera/IMAGINATIVO.svg" alt="">
                    <div id="txtImaginativoVoc">7.0</div>
                </div>
                <div class="imaginativoVoc"><img src="./img/intencionCarrera/ADAPTABLE.svg" alt="">
                    <div id="txtAdaptableVoc">7.0</div>
                </div>
                <div class="mensajeVoc">¿Quieres saber más? Selecciona el de mayor puntaje...</div>
            </div>
            <div class="medallasVoc">
                <div class="interes"><img src="./img/interesVocacional/INTRO.svg" alt=""></div>
                <div class="medalla1"><img id="med1Voc" src="./img/medallas/ADAPTABLE.svg" alt="">
                    <div id="punt1Voc" class="puntaje1">7.8</div>
                </div>
                <div class="medalla2"><img id="med2Voc" src="./img/medallas/ATENTO.svg" alt="">
                    <div id="punt2Voc" class="puntaje2">7.0</div>
                </div>
                <div class="personajeVoc"><img id="personajeVoc"
                        src="./img/personajes/interesVocacional/MEDIO/METODICO_HOMBRE.svg" alt=""></div>
                <div class="nombre">Usuario</div>
            </div>
        </div>
    </div>
</section>
<section id=fondoPersonalidad>
    <div class="grid-containerPersonalidad">
        <div id="personalidad" class="personalidad">
            <div class="botones">  
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_ATENTO")' ></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_DINAMICO")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_METODICO")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_IMAGINATIVO")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_ADAPTABLE")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt="" onclick='showPopUp("predominanciaDePersonalidad/INFO_PRACTICO")'></div>
                <div class="popUp"><img id="popUp" src="./img/predominanciaDePersonalidad/INFO_ADAPTABLE.svg" alt="">
                    <div class="x" onclick="closePopUp()"></div>
                </div> 
            </div>
            <div class="medallasPre">
                <div class="predominancia"><img src="./img/predominanciaDePersonalidad/INTRO.svg" alt=""></div>
                <div class="medalla1Pre"><img id="med1Pre" src="./img/medallas/ADAPTABLE.svg" alt=""><div id="punt1Per" class="puntaje1">7.8</div></div>
                <div class="medalla2Pre"><img id="med2Pre" src="./img/medallas/ATENTO.svg" alt=""><div id="punt2Per" class="puntaje2">7.0</div></div>
                <div class="medalla3Pre"><img id="med3Pre" src="./img/medallas/PRACTICO.svg" alt=""><div id="punt3Per" class="puntaje3">7.0</div></div>
                <div class="personajePre"><img id="personajePre" src="./img/personajes/predominanciaPersonalidad/MEDIO/METODICO_Hombre.svg" alt=""></div>
                <div class="nombre">Usuario</div>
                 <div class="base1" style="background-size: 80% 45%; width: 77%;">
                    <div class="titulos"><p class="titulo1"><- Adaptable - Imaginativo -></p></div>
                    <div class="porc1"><img id="porc1" src="./img/predominanciaDePersonalidad/CIRCULO_ADA.svg" alt=""><div class="res1">0</div></div>
                </div>
                <div class="base2" style="background-size: 80% 45%; width: 77%;">
                    <div class="titulos"><p class="titulo1"><- Práctico - Atento -></p></div>
                    <div class="porc2"><img id="porc2" src="./img/predominanciaDePersonalidad/CIRCULO_ATE.svg" alt=""><div class="res2">0</div></div>
                </div>
                <div class="base3" style="background-size: 80% 45%; width: 77%;">
                    <div class="titulos"><p class="titulo1"><- Dinámico - Metódico -></p></div>
                    <div class="porc3"><img id="porc3" src="./img/predominanciaDePersonalidad/CIRCULO_DIN.svg" alt=""><div class="res3">0</div></div>
                </div>
                <div class="mensaje">¿Quieres saber más? Selecciona el de mayor puntaje...</div>
            </div>
        </div>
    </div>
</section>
<section id=fondoIntCarrera>
    <div class="grid-containerCarrera">
        <div id="carrera" class="carrera">
            <div class="botones">  
                <div class="atento"><img src="./img/botones/BOTON_ATENTO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_ATENTO","Ate")' ></div>
                <div class="dinamico"><img src="./img/botones/BOTON_DINAMICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_DINAMICO","Dim")'></div>
                <div class="metodico"><img src="./img/botones/BOTON_METODICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_METODICO","Met")'></div>
                <div class="imaginativo"><img src="./img/botones/BOTON_IMAGINATIVO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_IMAGINATIVO","Ima")'></div>
                <div class="adaptable"><img src="./img/botones/BOTON_ADAPTABLE.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_ADAPTABLE","Ada")'></div>
                <div class="practico"><img src="./img/botones/BOTON_PRACTICO.svg" alt="" onclick='showPopUp("intencionCarrera/INFO_PRACTICO","Pra")'></div>
                <div class="popUpCar">
                    <div class="x" onclick="closePopUp()"></div>
                    <div id="msg" class="msg"></div>
                </div> 
            </div>
            <div class="porcentajesCar">
                <div class="infoAtento"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/ATENTO.svg" alt=""><div id="txtAtentoCar">7.0%</div></div>
                <div class="infoDinamico"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/DINAMICO.svg" alt=""><div id="txtDinamicoCar">7.0%</div></div>
                <div class="infoMetodico"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/METODICO.svg" alt=""><div id="txtMetodicoCar">7.0%</div></div>
                <div class="infoImaginativo"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/IMAGINATIVO.svg" alt=""><div id="txtImaginativoCar">7.0%</div></div>
                <div class="infoAdaptable"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/ADAPTABLE.svg" alt=""><div id="txtAdaptableCar">7.0%</div></div>
                <div class="infoPractico"><img style="left: 100%; top: 90%;" src="./img/intencionCarrera/PRACTICO.svg" alt=""><div id="txtPracticoCar">7.0%</div></div>
                <div class="mensaje">¿Quieres saber más? Selecciona el de mayor puntaje...</div>
            </div>
            <div class="medallasCar">
                <div class="intencion"><img src="./img/intencionCarrera/INTRO.svg" alt=""></div>
                <div class="medalla1"><img id="med1Car" src="./img/medallas/IMAGINATIVO.svg" alt=""><div id="punt1Car" class="puntaje1">7.8%</div></div>
                <div class="medalla2"><img id="med2Car" src="./img/medallas/PRACTICO.svg" alt=""><div id="punt2Car" class="puntaje2">7.0%</div></div>
                <div class="personajeCar"><img id="personajeCar" src="./img/personajes/intencionCarrera/MEDIO/DINAMICO_Hombre.svg" alt=""></div>
                <div class="nombre">Usuario</div>
            </div>
        </div>
    </div>
</section>
<section id=fondoInformacion>
    <div class="grid-containerInformacion">
        <div id="informacion" class="informacion">
            <div class="texto1"><img src="./img/informacionProfesional/TEXTO_1.svg" alt=""></div>
            <div class="texto2"><img src="./img/informacionProfesional/TEXTO_2.svg" alt=""></div>
            <div class="datos" style="background-size: 80% 35%; background-position: center;">
                <div class="grado"><img src="./img/informacionProfesional/CIRCULO.svg" alt="">
                    <div id="InfoP_texto" class="grado1">7.0</div>
                </div>
            </div>
            <div class="texto3"><img id="InfoP_img" src="./img/informacionProfesional/TEXTO_3.svg" alt=""></div>
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
        </div>
    </div>
</section>
<section id=fondoResultados>
    <div class="grid-containerResultados">
        <div id="resultados" class="resultados">
          <img src="./img/acercaDeLosResultados/INFO_COMPLETA.svg" alt="">
        </div>
        <div class="pieDePagina">
            <div class="imgPie"></div>
            <div class="guia"><img src="./img/pieDePagina/GUIA2.png"></div>
            <div class="logoCUN">
              <a target="_blank" rel="noopener noreferrer" href="https://cun.edu.co/estudia-en-la-cun">
                <img src="./img/pieDePagina/LOGO-CUN.png"></div>
              </a>
            <div class="textPie">Este producto fue desarrollado por la Corporación Unificada Nacional de Educación y el Centro de Bits y Átomos de la CUN -  CEBIAC</div>
          </div>
    </div>
</section>

<table id="carreras1">
    <thead>
        <tr>
            <th>TUS POSIBLES CARRERAS SON</th>
            <th>DESCUBRE MÁS ACERCA DE LA CARRERA AQUÍ</th>
        </tr>
    </thead>
    <tbody id="carRec1">
    </tbody>
    <tbody id="carRec2">
    </tbody>
</table>