<section id="fondoEncuesta">
    <div class="vista1">
        <form class="infoVista1" onsubmit="return getAnswersV1(event)">
            <div class="titulo">
                <h2>INVENTARIO DE<br>PERFIL PROFESIONAL</h2>
                <hr>
            </div>
            <div class="subtitulo">
                <h4>CONSENTIMIENTO Y REGISTRO</h4>
            </div>
            <div class="texto1V1">En el Centro de Innovación de la CUN desarrollamos un test de Perfil Vocacional que podrá ser implementado en ámbitos de orientación educativa y ocupacional. No te preocupes, tus datos serán totalmente confidenciales y sólo serán usados con fines investigativos.
                <br></br>
                Completar el inventario te tomará alrededor de 30 minutos, por eso te recomendamos disponer del
                tiempo necesario para responder tranquilamente.
            </div>
            <div class="email">
                <label for="email">Dirección de correo electrónico</label>
            </div>
            <div class="placeholder">
                <input type="email" id="email" name="email" value="" required>
            </div>
            <div class="texto2V1">
                <b>¡Recuerda! No hay respuestas correctas o incorrectas, sólo debes responder de manera sincera todas
                    las preguntas y listo.</b>
                <br></br>
                *Al continuar a la siguiente sección del formulario, aceptas que has leído los términos del
                consentimiento y
                estás de acuerdo en compartir tus respuestas para obtener datos del test.
                <br></br>
                **No se guardarán las respuestas hasta que no finalices el test por completo.
            </div>
            <div class="botonV1">
                <input type="submit" value=""></input>
            </div>
        </form>
    </div>
</section>