<section id="fondoEncuesta">
    <form class="infoVista3" onsubmit="return getAnswersV3(event)">
        <div class="vista3">
            <div class="estudios1">
                <div class="pregEst1">
                    <label class="preguntas" for="Estudio1">Máximo nivel de estudios culminado:</label>
                </div>
                <div class="opc11">
                    <input id="Primaria1" type="radio" name="estudio1" value="Primaria" required>
                    <label class="opciones" for="Primaria1">Primaria</label>
                </div>
                <div class="opc12">
                    <input id="Bachiller1" type="radio" name="estudio1" value="Bachiller" required>
                    <label class="opciones" for="Bachiller1">Bachiller</label>
                </div>
                <div class="opc13">
                    <input id="Tecnico1" type="radio" name="estudio1" value="Técnico" required>
                    <label class="opciones" for="Tecnico1">Técnico</label>
                </div>
                <div class="opc14">
                    <input id="Tecnologo1" type="radio" name="estudio1" value="Tecnólogo" required>
                    <label class="opciones" for="Tecnologo1">Tecnólogo</label>
                </div>
                <div class="opc15">
                    <input id="Profesional1" type="radio" name="estudio1" value="Profesional" required>
                    <label class="opciones" for="Profesional1">Profesional</label>
                </div>
                <div class="opc16">
                    <input id="Especializacion1" type="radio" name="estudio1" value="Especialización" required>
                    <label class="opciones" for="Especializacion1">Especialización</label>
                </div>
                <div class="opc1718">
                    <div class="opc17">
                        <input id="Maestria1" type="radio" name="estudio1" value="Maestría" required>
                        <label class="opciones" for="Maestria1">Maestría</label>
                    </div>
                    <div class="opc18">
                        <input id="Doctorado1" type="radio" name="estudio1" value="Doctorado" required>
                        <label class="opciones" for="Doctorado1">Doctorado</label>
                    </div>
                </div>
            </div>

            <div class="estudios2">
                <div class="pregEst2">
                    <label class="preguntas" for="estudio2">Si eres estudiante, indica ¿Qué nivel de
                        estudios estás esperando obtener actualmente?
                    </label>
                </div>
                <div class="opc21">
                    <input id="Primaria2" type="radio" name="estudio2" value="Primaria" required>
                    <label class="opciones" for="Primaria2">Primaria</label>
                </div>
                <div class="opc22">
                    <input id="Bachiller2" type="radio" name="estudio2" value="Bachiller" required>
                    <label class="opciones" for="Bachiller2">Bachiller</label>
                </div>
                <div class="opc23">
                    <input id="Tecnico2" type="radio" name="estudio2" value="Técnico" required>
                    <label class="opciones" for="Tecnico2">Técnico</label>
                </div>
                <div class="opc24">
                    <input id="Tecnologo2" type="radio" name="estudio2" value="Tecnólogo" required>
                    <label class="opciones" for="Tecnologo2">Tecnólogo</label>
                </div>
                <div class="opc25">
                    <input id="Profesional2" type="radio" name="estudio2" value="Profesional" required>
                    <label class="opciones" for="Profesional2">Profesional</label>
                </div>
                <div class="opc26">
                    <input id="Especializacion2" type="radio" name="estudio2" value="Especialización" required>
                    <label class="opciones" for="Especializacion2">Especialización</label>
                </div>
                <div class="opc27">
                    <input id="Maestria2" type="radio" name="estudio2" value="Maestría" required>
                    <label class="opciones" for="Maestria2">Maestría</label>
                </div>
                <div class="opc28">
                    <input id="Doctorado2" type="radio" name="estudio2" value="Doctorado" required>
                    <label class="opciones" for="Doctorado2">Doctorado</label>
                </div>
                <div class="opc29">
                    <input id="Ninguno2" type="radio" name="estudio2" value="Ninguno" required>
                    <label class="opciones" for="Ninguno2">Ninguno</label>
                </div>
            </div>

            <div class="estudios3">
                <div class="pregEst3">
                    <label class="preguntas" for="estudio3">Nombre del máximo titulo alcanzado</label>
                </div>
                <div class="formEst3">
                    <input type="text" id="estudio3" name="estudio3" value="" required>
                </div>
            </div>

            <div class="ocupaciones">
                <div class="pregOcu">
                    <label class="preguntas" for="ocupacion">Ocupación</label>
                </div>
                <div class="opcOcu1">
                    <input id="EnDesempleo" type="radio" name="ocupacion" value="En desempleo" required>
                    <label class="opciones" for="EnDesempleo">En desempleo</label>
                </div>
                <div class="opcOcu2">
                    <input id="Estudiante" type="radio" name="ocupacion" value="Estudiante" required>
                    <label class="opciones" for="Estudiante">Estudiante</label>
                </div>
                <div class="opcOcu3">
                    <input id="TrabajoyEstudio" type="radio" name="ocupacion" value="Trabajo y estudio" required>
                    <label class="opciones" for="TrabajoyEstudio">Trabajo y estudio</label>
                </div>
                <div class="opcOcu4">
                    <input id="SoloTrabajo" type="radio" name="ocupacion" value="Sólo trabajo" required>
                    <label class="opciones" for="SoloTrabajo">Sólo trabajo</label>
                </div>
            </div>
            <div class="botonV3">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>