<section id="fondoEncuesta">
    <form class="infoVista10" onsubmit="return getAnswersEje(event)">
        <div class="vista10">
            <div class="baseV10">
                <div class="imgFondoV10">
                    <img src="./img/encuesta/VISTA10/BASE.png">
                </div>
                <div class="pregV10">
                    <label id="preguntasV10" for="opcIntereses">Marketing</label>
                </div>
                <div class="opcV10">
                    <div class="opc1V10">
                        <input id="opcEjercer1" type="radio" name="opcEjercer" value="3" required>
                        <label class="opcionesV10" for="opcEjercer1"></label>
                    </div>
                    <div class="opc2V10">
                        <input id="opcEjercer2" type="radio" name="opcEjercer" value="2" required>
                        <label class="opcionesV10" for="opcEjercer2"></label>
                    </div>
                    <div class="opc3V10">
                        <input id="opcEjercer3" type="radio" name="opcEjercer" value="1" required>
                        <label class="opcionesV10" for="opcEjercer3"></label>
                    </div>
                </div>
            </div>
            <div class="botonV10">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>