<section id="fondoEncuesta">
    <form class="infoVista13" onsubmit="return submitButtonClick(event,'#encuestaV14')">
        <div class="vista13">
            <div class="tituloV13">
                <p>
                    Queremos ayudarte a tomar la mejor decisión para tu futuro profesional.
                </p>
            </div>
            <div class="baseV13">
                <div class="tituloBaseV13">
                    <h3>La elección de tu carrera te puede cambiar la vida!</h3>
                </div>
                <div class="textoBaseV13">
                    <p>Por esto, uno de nuestros asesores se contactará contigo para revisar tus resultados y compratir contigo toda la información que necesites y las mejores oportunidades para tu elección de carrera.</p>
                </div>
            </div>
            <div class="botonV13">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>