<section id="fondoEncuesta">
    <form class="infoVista12" onsubmit="return getAnswersIntc(event)">
        <div class="vista12">
            <div class="baseV12">
                <div class="imgFondoV12">
                    <img src="./img/encuesta/VISTA12/BASE.png">
                </div>
                <div class="pregV12">
                    <label id="preguntasV12" for="opcProfesional">Tengo conocimiento preliminar sobre las profesiones que quisiera desempeñar</label>
                </div>
                <div class="opcV12">
                    <div class="pro1V12">
                        <label class="profesionalV12" for="proInteres1">TOTALMENTE EN DESACUERDO</label>
                    </div>
                    <div class="opc1V12">
                        <input id="opcProfesional1" type="radio" name="opcProfesional" value="1" required>
                        <label class="opcionesV12" for="opcProfesional1"></label>
                    </div>
                    <div class="opc2V12">
                        <input id="opcProfesional2" type="radio" name="opcProfesional" value="2" required>
                        <label class="opcionesV12" for="opcProfesional2"></label>
                    </div>
                    <div class="opc3V12">
                        <input id="opcProfesional3" type="radio" name="opcProfesional" value="3" required>
                        <label class="opcionesV12" for="opcProfesional3"></label>
                    </div>
                    <div class="opc4V12">
                        <input id="opcProfesional4" type="radio" name="opcProfesional" value="4" required>
                        <label class="opcionesV12" for="opcProfesional4"></label>
                    </div>
                    <div class="opc5V12">
                        <input id="opcProfesional5" type="radio" name="opcProfesional" value="5" required>
                        <label class="opcionesV12" for="opcProfesional5"></label>
                    </div>
                    <div class="pro2V12">
                        <label class="ProfesionalV12" for="opcProfesional">TOTALMENTE DE ACUERDO</label>
                    </div>
                </div>
            </div>
            <div class="botonV12">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>