<section id="fondoEncuesta">
    <form class="infoVista6" onsubmit="return getAnswersIntr(event)">
        <div class="vista6">
            <div class="baseV6">
                <div class="imgFondoV6">
                    <img src="./img/encuesta/VISTA6/BASE.png">
                </div>
                <div class="pregV6">
                    <label id="preguntasV6" for="opcIntereses">Perseguir recompensa y reconocimiento</label>
                </div>
                <div class="opcV6">
                    <div class="opc1V6">
                        <input id="opcInteres1" type="radio" name="opcIntereses" value="1" required>
                        <label class="opcionesV6" for="opcInteres1"></label>
                    </div>
                    <div class="opc2V6">
                        <input id="opcInteres2" type="radio" name="opcIntereses" value="2" required>
                        <label class="opcionesV6" for="opcInteres2"></label>
                    </div>
                    <div class="opc3V6">
                        <input id="opcInteres3" type="radio" name="opcIntereses" value="3" required>
                        <label class="opcionesV6" for="opcInteres3"></label>
                    </div>
                </div>
            </div>
            <div class="botonV6">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>