<section id="fondoEncuesta">
    <form class="infoVista14" onsubmit="return getAnswersV14(event)">
        <div class="vista14">
            <div class="baseV14">
                <div class="imgFondoV14">
                    <img src="./img/encuesta/VISTA13/BASE.png">
                </div>
                <div class="comV14">
                    <label id="comentarioV14" for="comentario"></label>
                    <input type="text" placeholder="Escribe aquí..." id="comentario" name="comentario" value="">
                </div>
            </div>
            <div class="botonV14">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>