<section id="fondoEncuesta">
    <form class="infoVista8" onsubmit="return getAnswersConc(event)">
        <div class="vista8">
            <div class="baseV8">
                <div class="imgFondoV8">
                    <img src="./img/encuesta/VISTA8/BASE.png">
                </div>
                <div class="opcV8">
                    <div class="concepto1V8">
                        <label id="concepto1V8" class="conceptosV8" for="conceptoInteres1">Ambiciosa</label>
                    </div>
                    <div class="opc1V8">
                        <input id="opcConceptos1" type="radio" name="opcConceptos" value="1" required>
                        <label class="opcionesV8" for="opcConceptos1"></label>
                    </div>
                    <div class="opc2V8">
                        <input id="opcConceptos2" type="radio" name="opcConceptos" value="2" required>
                        <label class="opcionesV8" for="opcConceptos2"></label>
                    </div>
                    <div class="opc3V8">
                        <input id="opcConceptos3" type="radio" name="opcConceptos" value="3" required>
                        <label class="opcionesV8" for="opcConceptos3"></label>
                    </div>
                    <div class="opc4V8">
                        <input id="opcConceptos4" type="radio" name="opcConceptos" value="4" required>
                        <label class="opcionesV8" for="opcConceptos4"></label>
                    </div>
                    <div class="opc5V8">
                        <input id="opcConceptos5" type="radio" name="opcConceptos" value="5" required>
                        <label class="opcionesV8" for="opcConceptos5"></label>
                    </div>
                    <div class="opc6V8">
                        <input id="opcConceptos6" type="radio" name="opcConceptos" value="6" required>
                        <label class="opcionesV8" for="opcConceptos6"></label>
                    </div>
                    <div class="opc7V8">
                        <input id="opcConceptos7" type="radio" name="opcConceptos" value="7" required>
                        <label class="opcionesV8" for="opcConceptos7"></label>
                    </div>
                    <div class="concepto2V8">
                        <label id="concepto2V8" class="conceptosV8" for="conceptoInteres1">Modesta</label>
                    </div>
                </div>
            </div>
            <div class="botonV8">
                <input type="submit" value=""></input>
            </div>
        </div>
    </form>
</section>