<section class="fondoEncuesta">
  <div class="vistaTyC">
    <form class="infoVistaTyC" onsubmit="return submitButtonClick(event,'#encuestaV1')">
      <div class="tituloTyC">
        <h2>TÉRMINOS Y CONDICIONES</h2>
        <hr>
      </div>
      <div class="textoTyC">
        <div class="textOverflow">
          De conformidad con lo previsto en la ''Ley estatutaria 1581 de 2012'', y sus ''Decretos
          reglamentarios'' 1377 de 2013 y 1074 de 2015 capitulo 25, autorizo con consentimiento previo,
          expreso, informado, voluntario e inequívoco como Titular de mis datos a la CORPORACIÓN UNIFICADA
          NACIONAL DE EDUCACIÓN SUPERIOR - CUN para que realice el respectivo tratamiento de mis datos
          personales, respuestas de formulario, imágenes y/o vídeos, y en especial aquellos definidos como
          datos sensibles, para que sean incorporados en una base de datos responsabilidad de la Corporación y
          sean tratados con la finalidad académica, comercial, investigativa, científica, de proyección
          social, cultural, recreativa, deportiva, de interés general nacional e internacional, siendo
          publicados en redes sociales y otros medios de comunicación que utilice la Institución, para las
          actividades que se enmarquen dentro del objetivo social, académico e institucional, además, autorizo
          que mis datos personales sean transferidos a terceras entidades tanto nacionales como
          internacionales con las cuales se tengan convenios y cuya finalidad sea el intercambio de
          estudiantes, formación académica y profesional.<br></br>

          De igual modo, declaro que no me encuentro obligado a autorizar el tratamiento de mis datos
          personales sensibles y que he sido informado que puedo ejercer los derechos de acceso, corrección,
          supresión, revocación o reclamo por infracción sobre mis datos mediante escrito dirigido a la
          CORPORACIÓN UNIFICADA NACIONAL DE EDUCACIÓN SUPERIOR - CUN en la dirección de correo electrónico
          basesdedatos@cun.edu.co indicando en el Asunto el derecho que deseo ejercer, o mediante correo
          ordinario remitido a la dirección 12B # 4 - 79 de la ciudad de Bogotá D.C. con base en la política
          de protección de datos, a la cual podré tener acceso en la página web http://www.cun.edu.co.
          El presente documento establece los Términos y Condiciones del consentimiento informado para la
          aplicación del Inventario de Perfil Vocacional, por lo que el usuario que realiza la aplicación del
          instrumento debe realizarlo de acuerdo con los acuerdos aquí señalados. Al acceder o utilizar el
          Inventario de Perfil Vocacional, el usuario acepta plenamente y sin reservas el acuerdo con los
          términos
          del consentimiento informado. Estos Términos consisten en un acuerdo de confidencialidad y
          colaboración
          entre el usuario y el Centro de Bits y Átomos de la CUN, CEBIAC, que abarca el acceso, uso,
          obtención de
          resultados y recolección de datos para fines investigativos. En caso de no estar de acuerdo con
          estos
          Términos y Condiciones es necesario abstenerse de utilizar la herramienta. Al hacer uso de esta
          prueba,
          usted confirma que comprende y está de acuerdo con:<br></br>

          1. Confidencialidad: La información recogida por la herramienta se encuentra amparada por el código
          ético y deontológico del Colegio Colombiano de Psicólogos, el artículo 3 de la ley 1098 de 2006 y lo
          señalado en el artículo 2°, numeral 5° de la ley 1090 de 2006.<br></br>

          2. Respeto a la propiedad intelectual: El Centro de Bits y Átomos de la CUN es propietario del
          derecho
          de autor de la prueba CUNbre de Emprendimiento. Esta premisa no se aplica a la información
          considerada
          como de dominio público o utilidad pública. El contenido al que puede acceder mediante el uso de la
          herramienta es confidencial. Su uso, edición y distribución está autorizado únicamente a
          colaboradores
          de la CUN o del Centro de Bits y Átomos de la CUN, CEBIAC. El contenido no deberá ser usado para
          propósitos distintos a los mencionados, alterado o copiado para su reproducción no autorizada, lo
          cual
          está expresamente prohibido.
          Cualquier violación a los lineamientos será investigada y dará lugar a las acciones legales
          necesarias.<br></br>

          3. Restricciones de uso: El uso del Inventario de Perfil Vocacional está permitido solamente para
          personas mayores de (18) años, o menores entre 13 y 17 años con el debido consentimiento y
          autorización
          expresa de sus acudientes, padres o tutores remitidos previamente al correo electrónico de la Unidad
          de
          Emprendimiento de la CUN cunbre@cun.edu.co.<br></br>

          Cualquier otra sugerencia, contacto o comentario al respecto de la prueba pueden ser remitidos al correo
          electrónico de la Unidad de Emprendimiento de la CUN cunbre@cun.edu.co o al final del cuestionario de la
          prueba en la pregunta de comentarios y sugerencias.
        </div>
      </div>
      <div class="checkbox">
        <label for="TyC">
          <p>Acepto los términos y condiciones</p>
          <div class="boxInput">
            <input type="checkbox" id="TyC" name="TyC" value="" required data-toggle="modal"
              data-target="#exampleModalCenter" data-backdrop="static" data-keyboard="false">
          </div>
        </label>
      </div>
      <div class="botonTyC">
        <input type="submit" value=""></input>
      </div>
    </form>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="mContent">
      <div class="mHeader">
        <div class="text-center">
          <img id="icono" src="../../img/modal/ICONO.svg" class="rounded" alt="...">
        </div>
      </div>
      <div class="mBody">
        <div class="tituloModal">Verificación del consentimiento</div>

        <div class="textoModal">Las mediciones psicológicas necesitan la total autorización del participante
          y el consentimiento de los responsables, al continuar
          <span>confirmas que eres mayor de edad (+18 años) o menor entre 13 y 17 años con
            autorización firmada de tu acudiente responsable y envio al correo </span><u>cunbre@cun.edu.co</u> del consentimiento informado que se encuentra
            en el siguiente enlace:<br></br>
            <u><a href="https://firebasestorage.googleapis.com/v0/b/pruebavocacionalcun.appspot.com/o/FORMATO_DE_CONSENTIMIENTO_PIVOC.docx?alt=media&token=b5b68cbf-983b-4f02-9bb7-5d7e315149b5">CONSENTIMIENTO INFORMADO</a></u>
        </div>
      </div>

      <div class="tituloModal">
        ¿continuar?
      </div>

      <div class="modal-footer">
        <img src="../../img/modal/SI.png" class="btnSi " alt="" onclick="closeModal()">
        <a href="">
          <img src="../../img/modal/SALIR.png" class="btnSalir" alt="">
        </a>
      </div>
    </div>
  </div>
</div>