<section id="fondoInicio">
    <div class="vistaInicio">
        <div class="iniPrueba">
            <div class="tituloIni">Bienvenido a PIVOC. Conócete a tí mismo.</div>
            <div class="textoIni">Te invito a leer cuidadosamente todas las secciones de esta prueba e identificar cuál es tu tipo de personalidad, tus intereses vocacionales y hasta el nivel de información que tienes sobre tu carrera. 
            <br></br>
            No dejes de leer ninguna de las secciones porque seguramente encontrarás información acerca de tu vida bastante interesante. ¿Sabes qué es lo mejor? esto sin lugar a dudas te puede ayudar en tu elección de carrera para que esa platica no se pierda.
            <br></br>
            ¿Empezamos?
        </div>
            <div class="btnIni"><a href="#TyC">Empezar</a></div>
        </div>
        <form class="iniRepo" onsubmit="return getRepo(event)">
            <div class="tituloRepo">Repositorio de pruebas</div>
            <div class="textoRepo"><b>Sí ya has realizado la prueba vocacional</b> y deseas ver nuevamente los resultados obtenidos, ingresa aquí el número de documento (sin puntos, ni espacios ni comas) con el que presentaste la prueba.</div>
            <div class="btnRepo">
                <input class="textCC" type="text" name="ccRepo" placeholder="Número de identificación" required></input>
                <input class="btnBuscar" for="ccRepo" type="submit" value="Consulta tus resultados"></input>
            </div>
        </form>
    </div>
</section>
